<div class="card flex justify-content-center">
  <p-card
    role="region"
    header="Formulário"
    [style]="{ backgroundColor: 'var(--gray-500)', color: 'var(--gray-50)' }"
  >
    <p-divider></p-divider>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
  </p-card>
</div>
